:root {

    /* Types d'Animaux Color */

    --bg-animal: #f7e6dc;

    --all-fill: #D6C3B7;
    --all-stroke: #84746A;

    --dog-fill: #FFDCC4;
    --dog-stroke: #FFB780;

    --cat-fill: #FFD8ED;
    --cat-stroke: #F8B1DD;

    --bird-fill: #C7E7FF;
    --bird-stroke: #236488;

    --rabit-fill: #BDEFCC;
    --rabit-stroke: #30C55D;

    --fish-fill: #EADDFF;
    --fish-stroke: #6750A4;

}

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.prenom {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.card-5 {
    background-color: var(--all-fill);
    border: 1px solid var(--all-stroke);
}

.card-5:hover {
    background-color: var(--all-stroke);
}

.card-0 {
    background-color: var(--cat-fill);
    border: 1px solid var(--cat-stroke);
}

.card-0:hover {
    background-color: var(--cat-stroke);
}

.card-1 {
    background-color: var(--dog-fill);
    border: 1px solid var(--dog-stroke);
}

.card-1:hover {
    background-color: var(--dog-stroke);
}

.card-2 {
    background-color: var(--rabit-fill);
    border: 1px solid var(--rabit-stroke);
}

.card-2:hover {
    background-color: var(--rabit-stroke);
}

.card-3 {
    background-color: var(--bird-fill);
    border: 1px solid var(--bird-stroke);
}

.card-3:hover {
    background-color: var(--bird-stroke);
}

.card-4 {
    background-color: var(--fish-fill);
    border: 1px solid var(--fish-stroke);
}

.card-4:hover {
    background-color: var(--fish-stroke);
}